


body {
    background-color: black;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* cursor: url("images/cursor.png") 10 28, auto */  
}


a {
    text-decoration: none;
    color: white;
    font-size: 2.0em;
    transition: all 0.5s;
}

a:hover {
    color:#978cd0;
    font-size: 2.1em;
}



.center {
    text-align: center;
    position: relative;
} 

ul {
    list-style: none;
    padding: 0;
}

.hello {
    color: #978cd0;
    position: absolute;
    right: 50%;
    font-size: 1.5em;
    z-index: 1;
    animation-name: up-down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



img {
    animation-name: left-right;
    animation-duration: 6.9s;
    animation-iteration-count: infinite; 
}

ul {
    animation-name: left-right;
    animation-duration: 6.9s;
    animation-iteration-count: infinite; 
    margin-left: 5%;
    display: flex;
    gap: 5%;
}


li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li img {
    width: 128px;
    height: 128px;
    object-fit: cover;
}



.theme_switcher {
    font-size: 1em;
    position: absolute;
    z-index: 10;
    color: darkblue
}

.theme_switcher:hover {
    font-size: 1em;
    color: cyan;
    position: absolute;
    
}


@keyframes up-down {
    0% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(15px);
    }
}

@keyframes left-right {
    0% {
        transform: translateX(5px) rotateZ(1deg);
    }

    50% {
        transform: translateX(0px) rotateZ(0deg);
    }

    100% {
        transform: translateX(5px) rotateZ(1deg);
    }
}

@media (max-width: 768px) {
	img {
		width: 100%;
	}
	

    ul {
        flex-direction: column;
    }

    .hello {
        font-size: 4.0vw;
    }
}